<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">{{ 'menu.about'|trans }}</div>
                        <div id="userDescription">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">{{ 'home.basic_information'|trans }}</div>
                        <div class="row">
                            <div class="col-sm-4"><strong class="text-uppercase">{{ 'home.birthday'|trans }}:</strong></div>
                            <div id="userAge" class="col-sm-8"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">{{ 'home.email'|trans }}:</strong></div>
                            <div id="userEmail" class="col-sm-8"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">{{ 'home.phone'|trans }}:</strong></div>
                            <div id="userPhone" class="col-sm-8"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">{{ 'home.address'|trans }}:</strong></div>
                            <div id="userAddress" class="col-sm-8"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">{{ 'home.language'|trans }}:</strong></div>
                            <div id="userLanguage" class="col-sm-8">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
