<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('{{ asset('images/staticmap.png') }}')">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">{{ 'menu.contact'|trans }}</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <form role="form" id="contact-form" method="post" autocomplete="off">
                                            {{ form_start(form) }}
                                            <div class="p pb-3"><strong>{{ 'home.feel_contact'|trans }}</strong></div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                                        {{ form_widget(form.firstName) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                                        {{ form_widget(form.lastName) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                        {{ form_widget(form.email) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-group">
                                                        {{ form_widget(form.message) }}                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary" type="submit">Send</button>
                                                </div>
                                            </div>
                                            {{ form_end(form) }}
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="mb-0"><strong>{{ 'home.address'|trans }} </strong></p>
                                        <p class="pb-2">85375, Neufahrn bei Freising, München, Deutschland</p>
                                        <p class="mb-0"><strong>{{ 'home.phone'|trans }}</strong></p>
                                        <p class="pb-2">+49 176 35587613</p>
                                        <p class="mb-0"><strong>{{ 'home.email'|trans }}</strong></p>
                                        <p>rami.aouinti@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
