{% extends 'base_auth.html.twig' %}

{% block body_id 'login' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {#
        This references the Stimulus controller defined in
        "assets/controllers/login-controller.js".
        See https://symfony.com/doc/current/frontend/encore/simple-example.html#stimulus-symfony-ux
        More info on Symfony UX https://ux.symfony.com
    #}
    <div class="row" {{ stimulus_controller('login') }}{# @see assets/controllers/login-controller.js #}>
                <form action="{{ path('security_login') }}" role="form" method="post" class="text-start">
                    <div class="input-group input-group-outline my-3">
                        <label for="username" class="form-label">{{ 'label.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" {{ stimulus_target('login', 'username') }} />
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <label for=password"" class="form-label">{{ 'label.password'|trans }}</label>
                        <input type="password" id="password" name="_password" class="form-control" {{ stimulus_target('login', 'password') }} />
                    </div>

                    <div class="form-check form-switch d-flex align-items-center mb-3">
                        <input class="form-check-input" type="checkbox" id="rememberMe" checked>
                        <label class="form-check-label mb-0 ms-3" for="rememberMe">Remember me</label>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <div class="text-center">
                        <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2"> {{ 'action.sign_in'|trans }}</button>
                    </div>
                    <p class="mt-4 text-sm text-center">
                        Don't have an account?
                        <a href="../pages/sign-up.html" class="text-primary text-gradient font-weight-bold">Sign up</a>
                    </p>
                </form>
    </div>

{% endblock %}
