{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Ramy World{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ asset('portfolio/css/aos.css?ver=1.1.0') }}" rel="stylesheet">
        <link href="{{ asset('portfolio/css/bootstrap.min.css?ver=1.1.0') }}" rel="stylesheet">
        <link href="{{ asset('portfolio/css/main.css?ver=1.1.0') }}" rel="stylesheet">
        <link href="{{ asset('portfolio/css/resume.css') }}" rel="stylesheet">
        <noscript>
            <style type="text/css">
                [data-aos] {
                    opacity: 1 !important;
                    transform: translate(0) scale(1) !important;
                }
            </style>
        </noscript>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body id="top {% block body_id %}{% endblock %}">
    {% set _route = app.request.get('_route') %}
    {% include 'front_office/layouts/nav.html.twig' %}
    {% block body %}

    {% endblock %}

    {% include 'front_office/layouts/footer.html.twig' %}
        <script src="{{ asset('portfolio/js/core/jquery.3.2.1.min.js') }}"></script>
        <script src="{{ asset('portfolio/js/core/popper.min.js') }}"></script>
        <script src="{{ asset('portfolio/js/core/bootstrap.min.js') }}"></script>
        <script src="{{ asset('portfolio/js/aos.js') }}"></script>
        <script src="{{ asset('portfolio/js/now-ui-kit.js') }}"></script>
        <script src="{{ asset('portfolio/js/main.js') }}"></script>
        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
    </body>
</html>
