{{ form_start(form) }}
<div class="row">
    {{ form_widget(form._token) }}
    {{ form_errors(form) }}
    <div class="col-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-6">
        {{ form_row(form.description) }}
    </div>
    <div class="col-6">
        {{ form_row(form.gitLink) }}
    </div>
    <div class="col-6">
        {{ form_row(form.reference) }}
    </div>
    <div class="col-6">
        {{ form_row(form.skills) }}
    </div>
</div>
<button type="button" class="btn btn-primary collection-add" data-collection="{{ form.medias.vars.id }}"><i class="fas fa-plus"></i></button>
<div
    id="{{ form.medias.vars.id }}"
    class="collection"
    data-index="{{ form.medias|length == 0 ? 0 : form.medias|last.vars.name + 1 }}"
    data-prototype="{{ include("back_office/media/_form.html.twig", { form: form.medias.vars.prototype })|e("html_attr") }}"
>
    {% for media in form.medias %}
        {{ include("back_office/media/_form.html.twig", { form: media }) }}
    {% endfor %}
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form, { render_rest: false }) }}
